.centered {
  position: fixed;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);
}

.site-title {
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.all-recipes-title {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.new-recipe-title {
  text-align: center;
}

.sidenav {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(183, 182, 184);
  overflow-x: hidden;
  padding-top: 20px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 310px;
  transition: 0.3s;
  border-radius: 5px;
  margin: auto;

  border: 3px solid black;
  padding: 10px;
  text-align: center;
  font-family: arial;
}

.instructions {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 700px;
  transition: 0.3s;
  border-radius: 5px;
  margin: auto;

  border: 3px solid black;
  padding: 30px;
  font-family: arial;
}

.container {
  padding: 2px 16px;
}

.button {
  background-color: rgb(160, 160, 160);
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.add-ingredient {
  background-color: rgb(160, 160, 160);
  border: none;
  color: black;
  padding: 5px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
}

.hidden-add-image {
  width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.add-image {
  background-color: white;
  border: 2px black;
  color: black;
  padding: 5px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px; 
}

.login-button {
  background-color: #e7e7e7;
  border: 2px solid black;
  color: black;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
}

.home-button {
  background-color: white;
  border: 2px solid black;
  color: black;
  padding: 14px 28px;
  font-size: 16px;
}

.tag {
  background-color: #e7e7e7;
}

.recipe-list {
  line-height: 3;
  list-style-type: square;
}

.ingredient-list {
  line-height: 1.5;
}

.dropdown {
  display: inline-block;
  background-color: white;
  color: black;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  display: block;
}

.text-area {
  width: 75%;
  height: 250px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid black;
  border-radius: 4px;
  background-color: white;
  resize: none;
}

.notes {
  width: 50%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid black;
  border-radius: 4px;
  background-color: white;
  resize: none;
}
